@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <p>Error page 400 !</p>
    <a href="/Home/Index">Back to Home</a>
</body>
</html>
