
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="main_PageAbout">
                <h2>About us</h2>
                <p>
                    <a href="@Url.Action("Index","Home")">BlueTube</a> is a popular site to watch videos without ads in videos. and can play video in 1080p, 1440p, 4k.
                </p>
            </div>
         </div>
     </div>
</div>
